* {
    font-family: 'Prompt', sans-serif !important;
}

.bg-body {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.nav-item {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.nav-item.active {
    color: rgb(131, 131, 131);
}

.nav-item:hover {
    transform: translateY(-5px);
}

.nav-item:hover div {

    color: rgb(131, 131, 131);
}

.box-container {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
    border: none;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: left;
}


.box-content {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
    height: 75vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-item {
    width: 80px;
    height: 80px;
    background: white;
    transition: all 0.2s;
    border-radius: 11px;
    position: relative;
    box-shadow: 0 0 1px 1px #4e4e4e;
    cursor: pointer;
}


.box-item:hover .box-item-number {
    font-size: 30px;
}

.box-item.active {
    background: #ffd256 !important;
}

.box-item.selector {
    background: #00b623 !important;
    color: white;
}

.box-item .box-item-image {
    width: 85px;
    position: absolute;
    z-index: 10;
    margin-top: 5px;
    display: none;
    transform: rotate(8deg);
    position: absolute;
    cursor: pointer;
}

.box-item.active .box-item-image {
    display: unset !important;
}

.box-item .box-item-image img {
    width: 100%;
    height: 70px
}

.box-item .box-item-number {
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    transition: all 0.2s;
    cursor: pointer;
}

.box-item:hover {
    transform: translateY(-5px);
}

.box-item:hover .box-item-number {
    font-size: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.content .content-pirce {
    width: 150px;
    background: #6495ed;
    border-radius: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px #4e4e4e;
}

.content .content-date {
    width: 200px;
    background: #6495ed;
    border-radius: 11px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    box-shadow: 1px 1px 2px 1px #4e4e4e;
}

.content-pirce .price {
    font-size: 30px;
}

.content-pay .text {
    text-align: center;
}

.content-pay .top-number,
.content-pay .bottom-number {

    width: 100%;
    height: auto;
    background: cornflowerblue;
    padding: 10px;
    border-radius: 11px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    box-shadow: 1px 1px 2px 1px #4e4e4e;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content-number {
    margin: 30px;
    width: 300px;
    height: 300px;
    border-radius: 11px;
    background: cornflowerblue;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-number .text {
    font-size: 72px;
}

.card {
    box-shadow: 2px 3px 7px 0px #969696;
}

.body-content {
    display: none;
}

.bg-loader {
    background: rgb(189, 189, 189);
    height: 100vh;
    display: flex;
}

.loader {
    transform: scale(1.5);
    width: 175px;
    height: 80px;
    display: block;
    margin: auto;
    background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
    background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
    background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
}

.loader::after {
    content: '';
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-color: cornflowerblue transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    background: linear-gradient(90deg, #5D54A4, #7C78B8);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 400px;
    background: #FFF;
    top: -18px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #6C63AC;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #7E7BB9;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input.invalid {
    outline: none;
    border-bottom-color: #ff0000 !important;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #6A679E;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
    transform: scale(1.5);
}

.backtohome {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: end;
    height: 135px;

}

.btn-setdate {
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-setdate .setdate-item.active {
    background: #2b86fe !important;
}

.btn-setdate .setdate-item:hover {
    background: #2b86fe !important;
}

.btn-setdate .setdate-item:hover .icon {
    color: white !important;
}

.btn-setdate .setdate-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 11px;
    background: white;
    border: 1px solid #2b86fe;
    transition: all .35s;
}

.btn-setdate .setdate-item .icon {
    color: #2b86fe;
}

.btn-setdate .setdate-item.active .icon {
    color: white;
}

.backtohome span a {
    color: white;
    text-decoration: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}